<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_page.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Iceberg&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>MC Dashboard</title>
</head>

<body>
    <div id="dashboard">
        <div class="dashboard_part" id="dashboard_left">
            <div id="chat_box">
                <pre>{{ server.chat }}</pre>
            </div>
            <form method="POST" action="{{ server.name }}_command_submitted">
                <input type="text" name="command">
                <button type="submit">Senden</button>
            </form>
        </div>
        <div class="dashboard_part" id="dashboard_middle">
            <h1 id="heading">Dashboard - Cracker</h1>
            <h1 id="name">{{ server.name }}</h1>

            <h1 id="status">{{ server.status }} - {{ server.players_online }}/{{ server.players_max }}</h1>
             <div id="ip">
                    <h3>desktop-publication.gl.joinmc.link</h3>
                </div>
            <div id="controll_buttons">
                <form method="POST" action="{{ url_for('server_controlls', server_name=server.name, value='start') }}"><button type="submit" style="background-color: #608b17;"><span class="material-symbols-outlined">play_circle</span>Starten</button></form>
                <form method="POST" action="{{ url_for('server_controlls', server_name=server.name, value='stop') }}"><button type="submit" style="background-color: #821d2d;"><span class="material-symbols-outlined">stop_circle</span>Stoppen</button></form>
                <form method="POST" action="{{ url_for('server_controlls', server_name=server.name, value='restart') }}"><button type="submit" style="background-color: #ad6a27;"><span class="material-symbols-outlined">change_circle</span>Neustarten</button></form>
            </div>
            <div id="playerlist">

                <h2>Players online</h2>
                <h3>{{ server.players_list }}</h3>
            </div>
        </div>

        <div class="dashboard_part" id="dashboard_right">
            <div id="info_box">
                <h3>Modpack <span>-</span> 1.21.11</h3>
                <a href="{{ server.modpack_download }}" target="_blank"><button id="modpack_download">Modpack Download</button></a>
                <a href="{{ server.world_download }}" target="_blank"><button>World Download</button></a>
            </div>
            <div id="stats_link">
                <a href="{{ url_for('server_statistics', server_name=server.name) }}"><img src="{{ url_for('static', filename='images/stats_link.png') }}" alt="statistics" ></a>
            </div>
            <div id="gallery_link">
                <a href="{{ url_for('server_gallery', server_name=server.name) }}"><img src="{{ url_for('static', filename='images/gallery_link.png') }}" alt="gallery" ></a>
            </div>
        </div>
    </div>
</body>

</html>