{% extends "base.html" %}

{% block head %}
    <title>MC Dashboard</title>

{% endblock %}

{% block body %}
    <div id="dashboard">
        <div class="dashboard_part" id="dashboard_left">
            <div id="chat_box">
                <pre>{{ server.chat }}</pre>
            </div>
            <form method="POST" action="/command_submitted">
                <input type="text" name="command">
                <button type="submit">Senden</button>
            </form>
        </div>
        <div class="dashboard_part" id="dashboard_middle">
            <h1 id="heading">Dashboard - Cracker</h1>
            <h1 id="name">{{ server.name }}</h1>

            <h1 id="status">{{ server.status }} - {{ server.players_online }}/{{ server.players_max }}</h1>
             <div id="ip">
                    <h3>desktop-publication.gl.joinmc.link</h3>
                </div>
            <div id="controll_buttons">
                <form method="POST" action="/controls_triggered"><button type="submit" name="controls" value="start"  style="background-color: #608b17;"><span class="material-symbols-outlined">play_circle</span>Starten</button></form>
                <form method="POST" action="/controls_triggered"><button type="submit" name="controls" value="stop" style="background-color: #821d2d;"><span class="material-symbols-outlined">stop_circle</span>Stoppen</button></form>
                <form method="POST" action="/controls_triggered"><button type="submit" name="controls" value="restart" style="background-color: #ad6a27;"><span class="material-symbols-outlined">change_circle</span>Neustarten</button></form>
            </div>
            <div id="playerlist">
                <hr>
                <h2>Players online</h2>
                <h3>{{ server.players_list }}</h3>
            </div>
        </div>

        <div class="dashboard_part"></div>
    </div>
{% endblock %}